#minmut{

position:fixed;

right:20px;

bottom:20px;

width:120px;

z-index:999999;

cursor:pointer;

transition:.35s;

}

#minmut img{

width:100%;

display:block;

filter:drop-shadow(0 8px 18px rgba(0,0,0,.25));

}

#minmut:hover{

transform:scale(1.06);

}